@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #000000;
  color: white;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.home {
  height: 50vh;
  background: url("5.png") no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
  color: white;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
}

.about {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
}

.projects {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-item {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px #0000001a;
  cursor: pointer;
}

.project-item img {
  min-width: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;

  border-radius: 8px;
}

.project-item h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.project-item p {
  font-size: 1rem;
}

.contact {
  padding: 4rem 2rem;
  background-color: #520586;
  text-align: center;
  color: #f0f0f0;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.contact a {
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
}

.contact a:hover {
  color: #555;
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.25s ease;
  cursor: zoom-in;
  position: relative;
}

#caption {
  margin: auto;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  font-size: 1.2rem;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}

.modal-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
